<div class="notEaten">
    <h2>Burgers To Be Eaten</h2>
    <ul>
        {{#each burger}}
            {{#unless this.devoured}}
                <li>
                    {{this.burger_type}}
                    <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit">Devour!</button>
                    </form>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="eaten">
    <h2>Burgers That You've Eaten!</h2>
    <ul>
        {{#each burger}}
            {{#if this.devoured}}
                <li>
                    {{this.burger_type}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class ="addBurger">
    <h2>Add a Burger</h2>
    <form class="create-update-form" action="burger/create" method="POST">
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="burger_name">
        </div>
        <button type="submit">ADD BURGER</button>
    </form>
</div>