<h1>Burgers!!!</h1>

<h2>Burgers Available To Eat!</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burger}}

        <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value=1>
          <button type="submit">EAT!!!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers are devoured!</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to the menu</h2>
<form class="create-update-form" action="burger/create" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
     <input type="hidden" id="ca" name="devoured" value=0>
  </div>
  <button type="submit">Add Burger</button>
</form>