html, body {
    margin: 0;
    padding: 0;
    background-image: url("../img/burger.png");
    background-size: cover;
}

.burger-container {
    width: 30%;
    height: 600px;
    background-color: gray;
}